
body {
 background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
  padding: 20px 20px;
  margin: none;
}
main {
background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
  padding: 20px 20px;
  margin: none;
}
 #H1 {
  font-color: darkpurple;
}
.feature {
background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
  padding: 20px 20px;
  margin: none;
}
.feature-right {
background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
  padding: 20px 20px;
  margin: none;
}

