h1{
  color: darkpurple;
}
body {
 background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
  padding 20px 20px;
  margin: none;
}
main{
background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
}
.feature{
 background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
}
.feature-right{
background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
}

