h1{
  color: darkpurple;
}
body {
 background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
}
main{
background-color: background: repeating-radial-gradient(pink, yellow, lightblue, lightgreen 20%);
}

