:root {
   --accent-color: #000080;
   --accent-dark-color: #EF2B2F;
   --font-color: black;
}

body {
  background-color: background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
   font-family: Helvetica, sans-serif;
   color: var(--font-color);
}

main {
  background-color: background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
   margin: 0;
   padding: 5px 10px;
}

a:link {
   color: var(--font-color); 
}   

a:visited {
   color: purple;
   text-decoration: underline;
}   

a:hover {
   color: var(--accent-color); 
}  

a:active {
   color: var(--accent-color);
}   

header {
   background-color: red;
   padding: 5px 0;
   margin: 0;
}

header h1 {
   color: var(--accent-color);
   font-size: 3rem;
   margin: 10px 10px;
   text-shadow: 2px 2px 3px gray; 
}

nav ul {
   list-style-type: none;
   padding: 10px 0;
}

nav li {
   display: inline;
}

nav li a {
   text-decoration: none;  
   padding: 10px 20px;
}

nav li a:hover {
   color: white;
   background-color: var(--accent-color);    
}

.feature {
   border-radius: 10px;
   background: linear-gradient(45deg, red, orange, yellow, green, blue, indigo, violet);
   padding: 2px 15px;
   margin: 10px 0;
}

.feature a {
   text-decoration: none;  
}

.flex-container {
   display: flex;
   flex-direction: row;
}

.feature-right {
   margin-left: 12px;
}

td {
   font-size: 11px;
}
